*{
    margin:0;
    padding: 0;
}

.tarjetas-desplegables{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    }

.contenedor{
    display: flex;
    flex-direction: column;
}

.elemento-oculto, .elemento-ocultoB, .elemento-ocultoC{
    display:none;
};

.visible, .visibleB, .visibleC{
    display: inline;
}

h2{
    margin-top: 10px;
}

ul{
    margin-top: 10px ;
    margin-bottom: 40px;
}
ul li{
    font-size: 20px;
    list-style: none;
}

ul li a{
    color: black;
    
}

.btn{
    margin-top: 10px;
    background-color: rgb(144, 201, 201);
    border: none;
    color: black;
    font-size: 15px;
    width: 80px;
    cursor: pointer;
}